@import 'tailwindcss';

@layer base {
  html,
  body {
    margin: 0;
    min-height: 100%;
  }
  /* Pon un color base oscuro y otro para body; puedes usar CSS vars por ruta */
  html {
    background: #ffffff;
  } /* como su raisin-black */
  body {
    background: #ffedd5;
  } /* tu rojo (bg-red-600 aprox) */
}

@layer utilities {
  .min-h-viewport {
    min-height: 100vh;
  } /* fallback */
  @supports (height: 100svh) {
    .min-h-viewport {
      min-height: 100svh;
    } /* iOS con UI visible */
  }
  @supports (height: 100dvh) {
    .min-h-viewport {
      min-height: 100dvh;
    } /* dinámico iOS 16.4+ */
  }
}
